<p>
  <strong>Name:</strong>
  <%= @doctor.id %>
</p>


<p>
  <strong>Specialty:</strong>
  <% @doctor.specialties.each do |s| %>
    <%= s.name %>
  <% end %>
</p>



<%= link_to 'Edit', edit_doctor_path(@doctor) %> |
<%= link_to 'Back', doctors_path %>
